{% extends 'base.html.twig' %}

{% block title %}
Testy php
{% endblock %}

{% block body %}

<div class="bg-blue-500 text-white p-4 border-2  border-solid ... text-center">
NAUKA PHP 
<button class="inline-flex items-center rounded-md bg-purple-50 px-2 py-1 text-xs font-medium text-purple-700 ring-1 ring-purple-700/10 ring-inset">
<a href={{ path('product_list')}}>LISTA PRODUKTÓW</a>
    </div>
</div>
<div class="px-10 ... bg-blue-200 mx-10 ... border-2 border-solid ...">



</div>
{% endblock %}